@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300&display=swap');

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter';
}

.viremail-nav {
  background-color: #000;
  padding: 1rem 0;
  gap: 2rem;
}

.viremail-nav .nav-link {
  color: #a1a1a1;
  font-size: 0.95rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;

}

.viremail-nav .nav-link:hover,
.viremail-nav .nav-link:focus {
  color: #ffffff;
}

.btn-viremail-action {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-viremail-action:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}


.left-home,
.right-home {
  padding: 2rem;
  border-radius: 20px;
  box-shadow: inset 0 0 5px #555, 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.left-home {
  background: linear-gradient(-45deg, #030303, #aaaaaa);
}

.right-home {
  background: linear-gradient(45deg, #030303, #aaaaaa);
}

.heading {
  color: linear-gradient(90deg, #f5f5f5, #aaaaaa);
  font-family: 'domaine';
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.left-home p {
  margin-bottom: 3rem;
}

.form-heading {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.radio-group {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 9999px;
  /* fully rounded */
  font-size: 1rem;
  border: 1px solid black;
}

.form-input::placeholder {
  color: #999;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  margin: 1rem 0;
}

.form-button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: white;
  color: black;
  border-radius: 9999px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #f0f0f0;
}

.arrow {
  font-size: 1.2rem;
}

/* // Line // */
.horizontal-line {
  width: 80%;
  height: 2px;
  margin: 2rem auto;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.1) 80%);
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  position: relative;
}

.horizontal-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 20%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.15), transparent);
  border-radius: 50px;
}


/* // Welcome Section // */

.left-wel .img {
  border-radius: 1.5rem;
  border: 1px solid #d9e8ea;
  transition: all 0.4s ease;
  cursor: pointer;
  box-shadow: 0 0 15px #e3f0f1, 0 0 30px #3d4041;
  max-width: 100%;
}

.left-wel .img:hover {
  box-shadow: 0 0 25px #e8eded, 0 0 50px #3f4343;
  transform: scale(1.02);
}

.right-wel {
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.15), transparent);
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 5px #e8eded, 0 0 5px #3f4343;
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.4s ease;
  cursor: pointer;
}

.right-wel .h2 {
  font-size: clamp(1.75rem, 4vw, 2rem);
  font-family: 'domaine';
}

.right-wel p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* // White Line //  */

.white-line ul {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
  background-color: white;
  color: #000000;
  padding: .8rem .5rem;
  font-size: 1.2rem;
  box-shadow: inset 0 0 5px #555, 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0;
}

/* // Features Box //  */

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 1.5rem;
  margin: 3rem 0;
}

.box {
  background-color: #000;
  color: linear-gradient(90deg, #f5f5f5, #aaaaaa);
  padding: 2rem;
  border-radius: 15px;
  flex: 1 1 250px;
  max-width: 300px;
  text-align: left;
  background: radial-gradient(ellipse at center, rgba(255, 253, 253, 0.15));
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.box:hover {
  transform: translateY(-5px);
}

.button {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.box-button {
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  background-color: white;
  color: black;
  font-weight: 600;
  cursor: pointer;
  gap: 0.5rem;
}

/* // Boxes Section // */

.top-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 1.3rem;
  margin: 2rem 0;
}


.bottom-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 1.3rem;
  margin: 2rem 0;
}

.tbox {
  color: linear-gradient(90deg, #f5f5f5, #aaaaaa);
  padding: 2rem;
  border-radius: 15px;
  flex: 1 1 250px;
  max-width: 600px;
  text-align: left;
  background: radial-gradient(ellipse at center, rgba(255, 253, 253, 0.15));
  box-shadow: 0 0 5px #979696, 0 0 10px rgba(148, 125, 125, 0.5);
  transition: all 0.3s ease;
  cursor: pointer;
}

.bbox {
  color: linear-gradient(90deg, #f5f5f5, #aaaaaa);
  padding: 2rem;
  border-radius: 15px;
  flex: 1 1 250px;
  max-width: 600px;
  text-align: left;
  background: radial-gradient(ellipse at center, rgba(255, 253, 253, 0.15));
  box-shadow: 0 0 5px #979696, 0 0 10px rgba(148, 125, 125, 0.5);
  transition: all 0.3s ease;
  cursor: pointer;
}

.tbox:hover {
  transform: translateY(-5px);
}

.bbox:hover {
  transform: translateY(-5px);
}

/* // FAQ Section // */

.faq-section {
  display: flex;
  align-items: center;
  padding: 10px 0;
  background-color: #000;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.faq-card {
  background: radial-gradient(ellipse at center, rgba(221, 218, 218, 0.1), rgba(255, 255, 255, 0.05));
  box-shadow: 0 0 5px #979696, 0 0 10px rgba(148, 125, 125, 0.5);
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.faq-card:hover {
  transform: scale(1.01);
}

.card-header {
  padding: 0;
  background: transparent;
}

.faq-question {
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
}

.card-body {
  padding: 1rem 1.25rem;
  font-size: 0.95rem;
  color: #f3f3f3;
  border-top: .4px solid #555 !important;
}

.faq-question::after {
  font-family: monospace;
  font-size: 1.8rem;
  font-weight: bold;
  float: right;
  transition: transform 0.3s ease;
}

.card-header.collapsed .faq-question::after {
  content: '+';
  color: #a0a0a0;
}

.card-header:not(.collapsed) .faq-question::after {
  content: '-';
  color: #ffffff;
}

/* //FeedBack Section // */

.feedback-section {
  background: #000;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
}

.feedback-card {
  background: radial-gradient(ellipse at center, rgba(221, 218, 218, 0.1), rgba(255, 255, 255, 0.05));
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.slick-slide {
  cursor: default;
}

footer h5 {
  color: #ffffff;
}

.foot-link {
  color: rgba(241, 247, 254, 0.71);
  text-decoration: none;
  transition: color 0.3s ease;
}

.foot-link:hover {
  color: #ffffff;
}

.social-media a {
  transition: opacity 0.3s ease;
}

.social-media a:hover {
  opacity: 0.7;
}